


{% extends 'base.html' %}
{% block title %}
    Event Details
{% endblock %}


{% load static %}


{% block content %}


<div class="intro_wrapper" style="background: url({% static 'images/banner/inner_banner_5.jpg' %}) no-repeat center center !important; height: 600px;">
        <div class="container">
            <div class="row">
                 <div class="col-sm-12 col-md-8 col-lg-8">
                    <div class="intro_text">
                        <h1>Event Details Page</h1>
                        <div class="pages_links">
                            <a href="{% url 'home:home' %}" title="">Home</a>
                            <a href="{% url 'events:events' %}}" title="">Event</a>
                            Event Details
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header> <!-- End Header -->



<section class="login_signup_option">
    <div class="l-modal is-hidden--off-flow js-modal-shopify">
        <div class="l-modal__shadow js-modal-hide"></div>
        <div class="login_popup login_modal_body">
            <div class="Popup_title d-flex justify-content-between">
                <h2 class="hidden">&nbsp;</h2>
                <!-- Nav tabs -->
                <div class="row">
                    <div class="col-12 col-lg-12 col-md-12 col-lg-12 login_option_btn">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#login" role="tab">Login</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Register</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                        <!-- Tab panels -->
                        <div class="tab-content card">
                            <!--Login-->
                            <div class="tab-pane fade in show active" id="login" role="tabpanel">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label">Email</label>
                                                <input type="email" class="form-control" placeholder="Username">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label">Password</label>
                                                <input type="password" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12 d-flex justify-content-between login_option">
                                            <a href="forgot-password.html" title="" class="forget_pass">Forget Password ?</a>
                                            <button type="submit" class="btn btn-default login_btn">Login</button>
                                        </div>
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                            <div class="social_login">
                                                <div class="social_items">
                                                    <button class="google_login google">Login Google</button>
                                                    <button class="google_login facebook">Login Facebook</button>
                                                    <button class="google_login twitter">Login Twitter</button>
                                                    <button class="google_login linkdin">Login Linkdin</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--/.Panel 1-->
                            <!--Panel 2-->
                            <div class="tab-pane fade" id="panel2" role="tabpanel">
                                <form action="#" class="register">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label  class="control-label">Name</label>
                                                <input type="text" class="form-control" placeholder="Username">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label  class="control-label">Email</label>
                                                <input type="email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label  class="control-label">Password</label>
                                                <input type="password" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12 d-flex justify-content-between login_option">
                                            <button type="submit" class="btn btn-default login_btn">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div><!--/.Panel 2-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  <!-- End Login Signup Option -->




<section class="event_details_wrapper blog_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                <div class="event_intro">
                    <img src="{{ event.image.url }}" style="width: 800px;" alt="" class="img-fluid">
                    <div class="post_content">
                        <div class="post_by d-flex justify-content-between">

                            <!--                            {{event.date|date:"D d M Y"}}-->

                            <span  class="date_event"> {{event.date|date:"d M Y"}}</span>
                            <span>{{event.date|date:"D"}} {{ event.time_from }} to {{ event.time_to }}</span>
                        </div>
                        <div class="blog_post_content">
                            <p>{{ event.content }} </p>
                        </div>
                    </div>
                </div>
            </div>

             <div class="col-12 col-sm-12 col-md-4 col-lg-4 blog_wrapper_right ">
                <div class="blog-right-items">


                    <div class="recent_post_wrapper popular_courses_post widget_single">
                        <div class="items-title">
                            <h3 class="title">Our Recent Events</h3>
                        </div>

                        {% if recent_events %}
                        {% for event in recent_events %}


                        <div class="single-post">
                            <div class="recent_img">
                                 <a href="{% url 'events:event_detail' event.id %}" title=""><img src="{{ event.image.url }}" alt="" class="img-fluid"></a>
                            </div>
                            <div class="post_title">
                                <a href="{% url 'events:event_detail' event.id %}" title="">{{ event.name }}</a>
                                <div class="post-date">
                                    <span>{{event.date|date:"d M Y"}}</span>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                        {% endif %}


                    </div>

                    <div class="archives widget_single">
                        <div class="items-title">
                            <h3 class="title">All Categories</h3>
                        </div>
                        <div class="archives-items">
                            <ul class="list-unstyled">
                                {% if categories %}
                                {% for category in categories %}

                                <li><a href="{% url 'events:events_category' category.id %}" title="">{{ category.name }} </a></li>

                                {% endfor %}
                                {% endif %}

                            </ul>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="location_bottom_wrapper">
                    <div class="event_details">
                        <div class="details_title">
                            <h3>Event Details</h3>
                        </div>
                        <div class="event_location_info">
                            <ul class="list-unstyled">
                                <li><p>Date</p><span> {{event.date|date:"d M Y"}} </span></li>
                                <li><p>Time</p><span>{{event.date|date:"D"}} {{ event.time_from }} to {{ event.time_to }}</span></li>
                                <li><p>Cost</p><span>${{ event.cost }}</span></li>
                                <li><p>Event Category</p><span>{{ event.category.name }}</span></li>

                            </ul>
                            <ul class="list-unstyled">
                                <li><p class="hall_location">Location</p></li>
                                <li><p>Hobert center hall</p><span>{{ event.location }} {{ event.address }}</span></li>
                                <li><p>Email</p><span>{{ event.email }}</span></li>
                                <li><p>Phone</p><span>{{ event.phone }}</span></li>
                            </ul>
                        </div>
                    </div>

                   <div class="event_location_map">
                        <div class="details_title">
                            <h3>Google Map</h3>
                        </div>
                        <div class="google_map">
                            <div class="google_map">
                                <div class="gmap">
                                    <div id="map">



                                         <!-- Map Begin -->

                                        <!--43.692424724828975, -79.28714244431704-->

                                           <!--The first number, -77.03, for the center array is the longitude and the second number, 38.91, is the latitude. Zoom level 9 is -->
                                        <!--much closer to the city than the default which was the entire world at level 0. All of the customization values are listed in the -->
                                        <!--Mapbox GL JS API documentation.-->
                                        <style>
                                        .inner {
                                          display: table;
                                          margin: 0 auto;
                                          border: 1px solid black;
                                        }
                                        </style>
                                        <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
                                        <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />

                                        <div id='map' class="inner" style='width: 1260px; height: 500px; ' ></div>
                                        <script>
                                        mapboxgl.accessToken = 'pk.eyJ1IjoiY21yYWppYiIsImEiOiJja2swcGFhbXMwamtlMm5ueWR6Z2k0cDZ5In0.rLdhVLrgB3-v6Kru69O0QQ';
                                        var map = new mapboxgl.Map({
                                        container: 'map',
                                        style: 'mapbox://styles/mapbox/streets-v11',
                                        center: [-79.28714244431704,43.692424724828975],
                                        zoom: 15
                                        });
                                        </script>


                                            <!-- Map End -->















                                    </div>
                                </div><!-- Ends: .gmap -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Event Details Wrapper -->



{% endblock %}

